dist
build
docs/build
.coverage
.pydevproject
.project
*.pyc
temp
huginn.egg-info
coverage_results
virtualenv
huginn.log
huginn_jsbsim.py
huginn_jsbsim_wrap.cpp
_huginn_jsbsim.so
*.log
robot/*.html
robot/*.xml
*.*~
