<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/leaflet.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Flight simulator data viewer</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Flight simulator data viewer</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <table id="location" class="table table-bordered">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Value</th>
                <th>Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Longitude</td>
                <td class="longitude">0.0</td>
                <td>Degrees</td>
              </tr>
              <tr>
                <td>Latitude</td>
                <td class="latitude">0.0</td>
                <td>Degrees</td>
              </tr>
              <tr>
                <td>Altitude</td>
                <td class="altitude">0.0</td>
                <td>Feet</td>
              </tr>
              <tr>
                <td>Airspeed</td>
                <td class="airspeed">0.0</td>
                <td>Feet/Sec</td>
              </tr>
              <tr>
                <td>Heading</td>
                <td class="heading">0.0</td>
                <td>Degrees</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-lg-6">
          <div id="map"></div>
          <input id="follow_aircraft" name="follow_aircraft" type="checkbox" value="Follow aircraft" checked>Follow aircraft</input>
        </div>
      </div>
    </div>
  
    <script src="static/js/leaflet.js" type="text/javascript"></script>
    <script src="static/js/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>